@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=VT323:400,700&display=swap');

// Set your brand colors
$green: #00cc00; 

$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$dark: #000000;
$white-bis: #f0fff8;

// Update Bulma's global variables
$family-sans-serif: 'VT323', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $green;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $green;
$text-strong: $green;
$primary-invert: $dark

// Update some of Bulma's component variables
$body-background-color: $dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$hero-body-padding: 1.5rem 1.5rem !default

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass'
@import '../node_modules/bulma-pageloader/src/sass/index.sass'
@import '../node_modules/bulma-helpers/bulma-helpers.sass'
@import 'App.css'
